<div class="container">
  <h1><%= @profile.full_name %></h1>
  <%= link_to "All Profiles", root_path  %>

  <div class="row">
    <div class="col-sm-12 col-md-6 col">
      <h3>Profile</h3>
      <thead>
       <th>Full Name</th>
       <th>Email</th>
       <th>current_role</th>
       <th>description</th>
       <th>github_username</th>
       <th>slack_username</th>
      </thead>
    </div>
  </div>
</div>
